@inject IHtmlLocalizer<SharedResources> Resources

@{
    ViewData["Title"] = Resources["HpTitle"];
}

<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><strong>Budget</strong></h2>
                <p>@Resources["HpSubtitle"]</p>
                <div>
                    <a asp-area="User" asp-controller="Account" asp-action="Register" class="btn btn-success btn-lg">@Resources["Register"]</a>
                    <span>@Resources["Or"] <a asp-area="User" asp-controller="Account" asp-action="Login">@Resources["Login"]</a> @Resources["IfYouHaveRegisteredAlready"]</span>
                </div>
            </div>
        </div>
    </div>
</div>