@inject IHtmlLocalizer<SharedResources> Resources

@if (TempData[GlobalConstants.SuccessMessageKey] != null)
{
    <div class="center-block padding-top-10">
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@Resources["Success"]!</strong> @TempData[GlobalConstants.SuccessMessageKey]
        </div>
    </div>
}

@if (TempData[GlobalConstants.InfoMessageKey] != null)
            {
    <div class="center-block padding-top-10">
        <div class="alert alert-info alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@Resources["Info"]!</strong> @TempData[GlobalConstants.InfoMessageKey]
        </div>
    </div>
}

@if (TempData[GlobalConstants.WarningMessageKey] != null)
{
    <div class="center-block padding-top-10">
        <div class="alert alert-warning alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@Resources["Warning"]!</strong> @TempData[GlobalConstants.WarningMessageKey]
        </div>
    </div>
}

@if (TempData[GlobalConstants.DangerMessageKey] != null)
{
    <div class="center-block padding-top-10">
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@Resources["Danger"]!</strong> @TempData[GlobalConstants.DangerMessageKey]
        </div>
    </div>
}